* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: 450px;
  background-color: #fff;
  margin-top: 15px;
  border-radius: 24px;
}

#summary .ilustracao {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

#summary .content {
  width: 70%;
  justify-content: center;
}

#summary .content h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

#summary .content p {
  text-align: center;
  font-size: 14px;
  margin: 25px 0;
  color: #7280a7;
}

#summary .content .plan {
  display: flex;
  width: 100%;
  background-color: #f8f9fe;
  max-height: 70px;
  border-radius: 15px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

#summary .content .plan .music-icon {
  width: 50px;
  height: 50px;
}

#summary .content .plan .left {
  margin-top: 20px;
}

#summary .content .plan .left h3 {
  font-size: 16px;
  font-weight: bold;
}

#summary .content .plan .left p {
  margin-top: 4px;
}

#summary .content .plan .right {
  margin-left: 50px;
}

#summary .content .plan .right a {
  color: #3829e0;
  font-weight: bold;
  font-size: 14px;
  transition: 0.5s ease-in-out;
}

#summary .content .plan .right a:hover {
  color: #786cec;
  text-decoration: none;
}

#summary .content .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 25px 0;
  color: #fff;
  background-color: #3829e0;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s;
}

#summary .content .btn:hover {
  background-color: #786cec;
}

#summary .content .cancel {
  margin-bottom: 35px;
  text-align: center;
}

#summary .content .cancel a {
  text-decoration: none;
  font-weight: bold;
  color: #7280a7;
  transition: 0.5s ease-in-out;
}

#summary .content .cancel a:hover {
  color: #000;
}

.attribuition {
  margin: 20px 0;
}
