* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  min-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  min-height: 450px;
  background-color: #fff;
  border-radius: 24px;
}

#summary .ilustracao {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
