* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  background-color: #0d192b;
  min-height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
