* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html {
  min-height: 100%;
  background-image: url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg);
  background-color: #19a1ad;
  background-repeat: no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 50vh;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#Card {
  width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

#Card .card-background {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#Card .card-content {
  max-width: 80%;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Card .card-content .perfil {
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 10px;
}

#Card .card-content h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#Card .card-content .age {
  color: #969696;
  font-weight: 400;
  padding-left: 5px;
}

#Card .card-content .city {
  color: #969696;
  font-weight: 100;
  margin-top: 10px;
}
